<!DOCTYPE html>
<html lang=pt-BR>
<head>
  <meta charset=UTF-8 />
  <title>Trade Manager Core</title>
  <link rel=stylesheet href=../assets/styles/style.css />
</head>
<body>
  <div class=header>
    <h1 class=app-title>TRADE MANAGER CORE</h1>
    <div class=header-controls>
      <button id=settings-btn class=btn menu></button>
      <button id=logs-btn class=btn menu></button>
    </div>
  </div>

  <div class=container>
    <div class=sub-panel>
      <h4>Status</h4>
      <div id=status-processo class=status-processo info>Pronto</div>
    </div>

    <div class=sub-panel>
      <h4>Ferramentas</h4>
      <div class=panel-content-center>
        <button id=analyzeBtn class=action-button>Iniciar Análise</button>
        <button id=captureBtn class=action-button>Capturar Tela</button>
      </div>
    </div>
  </div>

  <script src=../content/log-sys.js></script>
  <script src=../content/state-manager.js></script>
  <script src=../content/capture-screen.js></script>
  <script src=../content/index.js></script>
</body>
</html>
